@using Modelos;
@model IEnumerable<Modelos.Multa>

@{
    ViewData["Title"] = "Multas";
}

<div class="container adjust">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="titulo">Multas</h2>
        </div>
        <div class="container-sm my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-sm-6 gy-3">
                    <input type="text" class="form-control rounded-pill" placeholder="Buscar multa" aria-label="Buscar multa">
                </div>
                <div class="col-12 col-md-3 col-sm-3 gy-3">
                    <a asp-controller="Multa" asp-action="Upsert" class="btn btn-primary rounded-pill" type="button">
                        Agregar
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus text-light" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if (Model.Any())
        {
            @foreach (var multa in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header @((multa.Estado ? "header-activo" : "header-inactivo")) d-flex justify-content-between align-items-center">
                            <h4 class="text-light">@multa.Descripcion</h4>
                            <button class="btn btn-estado btn-sm">
                                @((multa.Estado ? "Activa" : "Inactiva"))
                            </button>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Prestatario: @(multa.Prestamo.Prestatario.Nombre) + (@multa.Prestamo.Prestatario.PrimerApellido)</p>
                            <p class="card-text">Fecha de emisión: @multa.FechaCreacion.ToString("dd/MM/yyyy")</p>
                            <p class="card-text">Descripción: @multa.Descripcion</p>
                            <p class="card-text">Sanción: ₡@string.Format("{0:N0}", multa.Sancion)</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <a asp-controller="Multa" asp-action="Upsert" asp-route-id="@multa.Id" class="btn btn-color-editar btn-sm d-flex align-items-center margen">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg>
                                Editar
                            </a>
                            <a asp-controller="Multa" asp-action="Eliminar" asp-route-id="@multa.Id" class="btn btn-color-eliminar btn-sm d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 margen" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <p class="text-muted">No hay ninguna multa registrada.</p>
            </div>
        }
    </div>
</div>